.blog-post-card {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.post-img {
  background-size: cover;
  border-bottom: 2px solid brown;
}

.post-content {
  padding: 0px 25px;
}

.post-title,
.post-excerpt {
  color: rgba(66, 4, 4, 0.856);
  margin: 10px;
}

.read-more {
  background-color: darkred;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.read-more:hover {
  background-color: coral;
}