.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar-left main sidebar-right"
    "footer footer footer";
}

.header {
  grid-area: header;
  background-color: #4caf50;
  padding: 20px;
  text-align: center;
}

.sidebar-left {
  grid-area: left-sidebar;
  background-color: #ba2e2e;
  padding: 20px;
}