/* Mobile first responsive design */

/* Extra small devices - up to 576px */

/* Base styles for mobile smartphones and small devices */
/* up to 640px 
  small devices - 577px to 768px (more than or equal to 576px )
*/
.container {
  width: 100%;
  padding: 15px;
}

/* styles for larger screens */
/* styles for screens wider than 768px */
/* medium devices - tablets 641px to 1024px*/
/* 769px to 992px (>=768px ) */
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
    margin: 0 auto;
    padding: 20px;
  }

  body {
    font-size: 1.125rem;
  }
}

/* Styles for desktops - large devices */
/* 1025px and larger */
/* large devices 993px to 1200px (>=992px  ) */
@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
}

/* extra large devices 1201px and larger  (>=1200px) */
/* extra extra large device - >= 1400px */