 #title {
   color: red;
 }

 .box {
   width: 200px;
   height: 200px;
   border: 2px solid black;
 }

 .playwrite-cu-100 {
   font-family: "Playwrite CU", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }