#catImage {
  width: 200px;
  height: auto;
  cursor: pointer;
}

#footerMessage {
  display: none;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#reverseText  {
  cursor: pointer;
}

#catParade {
  position: fixed;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  display: none;

}

#catParade img {
  height: 50px;
  display: inline;
}