*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  background-color: #fbfafa;
}

h1,
h2 {
  font-weight: 600;
  font-family: "Playfair Display", serif;
  padding: 20px;
}

header {
  background-color: #f2eae8;
  padding: 50px;
}

article {
  background-color: #f2eae8;
}


#img-div {
  max-width: 700px;
  margin: 0 auto;
}

#image {
  max-width: 600px;
  height: 500px;
  width: 70%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

ol,
blockquote {
  list-style: none;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 20px 20px 40px;


}

blockquote {
  position: relative;
  font-style: italic;
  letter-spacing: 1px;
}

ol li {
  padding: 10px 20px;
}

ol li span::after {
  content: " – ";
}

.bold {
  font-weight: bold;
}

blockquote::before {
  position: absolute;
  content: open-quote;
  font-size: 3em;
  margin-left: -0.4em;
  margin-top: -0.3em;
  font-weight: 100;
}

blockquote::after {
  position: absolute;
  content: close-quote;
  font-size: 3em;
  margin-right: -0.4em;
  margin-bottom: -0.3em;
  font-weight: 100;
}

.quote p::before {
  content: "-- ";
  text-align: left;
  margin-left: 0;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  margin-left: 300px;
  gap: 0;
  padding-bottom: 50px;
}



.quote p {
  display: inline-block;
  font-size: 1em;
  text-align: right;
  padding: 0;
  align-self: flex-end;
  margin-bottom: 50px;
  margin-top: -30px;
}

footer {
  padding: 50px;
}